@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.main-header {
  position: relative;
  background: url(../img/sysad.png);
  background-size: cover;
  
}

.background-overlay {
  background: rgba(48, 51, 107,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control, .btn{
  border-radius: 0;
}

.team, footer {
  background: #0275d8;
}

.m5 text-center {
  position: relative;
  background: url(../img/sysad.png);
  background-size: cover;
  
}


.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: normal;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title :before {
    font-family: 'sans-serif;';
    font-style: normal;
    font-size: 1.5rem;
    color: #fff;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "↓";
    float: right;
}

.d-flex .flex-column {
  background:#A6A6A5;
}

.accordion-section .panel-default .panel-body {
    
    font-variant: all-petite-caps;
}

.ars {
  height: 50px;
  width: 50px;
  float: right;
  border-radius: 100%;
}

.ea {
  height: 50px;
  width: 50px;
  float: left;
  border-radius: 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
    background-position: 50%;
}

.icobcom { 
  height: 50px;
  width: 50px;
  float: right;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;

 }

.social-box .box{
    background: #FFF;
    border-radius: 10px; 
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}


.social-box .box:hover{
   box-shadow: 0 0 6px #4183D7;
}

.social-box .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
}

.social-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}



body{
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: 'Poppins', sans-serif;
}